* {
    background: url(UIHere.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
}

form {
    margin-left: 37%;
    margin-right: 30%;
}

button {
    color: black;
    font-weight: 900;
}

a {
    color: black;
    text-decoration: none;
}

input[type="text"], #cancelButton, #submitPayment {
    border-color: black;
    border-radius: 1em;
}

span {
    color: black;
    font-weight: 900;
}

#image {
    width: 40px;
    height: 40px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    float: right;
}

#itemToBePurchased img{
    width: 20%;
    height: 10%;
}

.row {
    margin-top: 10px;
}

#submitPayment {
    margin-left: 65%;
}